body {
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}


.masthead-intro, .masthead-heading, .footer-section {
  text-align: center;
}
.masthead {
  background-image: url('https://images.unsplash.com/photo-1445187118261-1593a5af9bdf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=db6d85595e54731c36656abb5a1883a5');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px/30px;
  padding: 6em 0;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  color: #FEF9ED;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 6em;
  letter-spacing: -0.02em;
  margin-top: -0.2em;
  text-transform: uppercase;
  
}

.intro-section, .experience-section, .next-section, .facts-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 38em;
}

.social > li {
  display: inline-block;
}

.footer-section, .social > p {
  background-image: url('https://images.unsplash.com/photo-1446491429004-809880bd132e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d8d94d86d4e498c13806418ba040969c');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px/30px;
}

a:link {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}

a:visited {
  color: #203308;
  
}

a:hover, a:active {
  color: #993C00;
}

.intro-section > p, .experience-section > p, .next-section > p, .footer-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  
}

.facts-section > h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}
@media all and not print{
}